<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <h1>Welcome Back, <%= empName %></h1>
      <% if (roleId === 1) { %>
        <div class="card mt-3 mb-3">
          <div class="card-header">
            <h3>Admin Tools</h3>
          </div>
          <div class="card-body">
            <div class="container">
              <div class="row mb-3">
                <div class="col">
                  <h5>Users</h5>
                  <a href="/register" class="btn btn-success me-3">Add New User</a>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col ">
                  <h5>Students</h5>
                  <a href="/students/add-student-form" class="btn btn-success me-3">Add New Student</a>
                  <a href="/" class="btn btn-success me-3">Edit New Student</a>
                </div>
              </div>
            </div>
          </div>
        </div>      
      <% } %>
    </div>
  </div>
</div>
